// color

$color-white: #fff;
$color-white-light: #f7f7f7;
$color-text-white: #f7f7f769;
$color-black: black;
$color-white-high: #ffffff;
$color-black-dark: #999;
// grid
$space-row: 0.5rem;

// font
$font--main: font-main;
$font--header: font-header;
$font--text: font-text;
$font--nastaliq: font-nastaliq;
$font-nastaliq-2: font-nastaliq-2;
$font-aviny: font-aviny;
$default-font-size: 1rem;

// shadow
$box-shodow-015: rgba($color-black, 0.15);
$box-shadow-rem-014: 0rem 1rem 4rem;

// border radios
$border-reduis-3px: 3px;
