.main-1 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-family: $font--header;
  padding: 2rem;
  @include res(tab-big) {
    padding: 0 0;
  }
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 4rem;

    & select {
      font-size: 1.8rem;
      font-family: $font--text;
    }
    & input {
      font-family: $font--text;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      border: 1px solid $color-gray;
    }
    & .level {
      text-align: center;
      color: $color-orange;
      font-size: 2.5rem;
    }

    &__btn {
      justify-self: center;
      grid-column: 1 / -1;
      background-color: $color-green;
      font-size: 2rem;
      font-family: $font--main;
      padding: 1rem 4rem;

      transition: all 0.2s;
      border: none !important;
      color: $color-white;

      &:hover {
        transform: translateY(-3px);
      }
      &:focus {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      }
    }
  }
}
