.dashboard__user {
  display: grid;
  grid-template-rows: 15rem 70rem;
  grid-template-columns: 14rem 92%;
}

// btn

.btn {
  outline: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  font-size: 1.5rem;
  font-family: $font--text;
  width: max-content;
  background-color: $color-green;
  color: $color-white;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    box-shadow: 0 0.8rem 1rem rgba($color-black, 0.2);
    transform: translateY(-3px);
  }
  &:focus {
    outline: none;
    border: none;
  }

  &-next-page {
    background-color: blue;
  }
  &-home {
    background-color: $color-white;
    color: $color-red;
  }
}
