.dashboard__user {
  display: grid;
  grid-template-rows: 15rem 1fr;
  grid-template-columns: max-content 1fr;
}

// btn

.btn {
  outline: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  font-size: 1.5rem;
  font-family: $font--text;
  width: max-content;
  background-color: $color-green;
  color: $color-white;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    box-shadow: 0 0.8rem 1rem rgba($color-black, 0.2);
    transform: translateY(-3px);
  }
  &:focus {
    outline: none;
    border: none;
  }

  &-next-page {
    background-color: blue;
  }
  &-home {
    background-color: $color-white;
    color: $color-red;
  }
}

// main -1
.main-1 {
  background-color: $color-white-light;
  & .container {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    & .text-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 2rem;
      font-size: 2rem;
      font-family: $font--header;
      & p {
        font-size: 2rem;
        font-family: $font--text;
        padding: 0 2rem;
      }
    }
  }
}

// main -3
.main-3 {
  display: flex;
  flex-direction: column;
  background-color: $color-white-light;
  & .container {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    & .text-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 2rem;
      font-size: 2rem;
      font-family: $font--header;
      & p {
        font-size: 2rem;
        font-family: $font--text;
        padding: 0 2rem;
      }
    }
  }
}
