.navbar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.8rem 1rem rgba($color-black, 0.15);
  border-bottom: 1px solid $color-text-white;
  z-index: 2;
  &__box-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: $font--main;
    padding: 1rem;
    &__h1 {
      padding-left: 2rem;
      border-left: 1px solid $color-gray;
    }
    &__h2 {
      padding-right: 2rem;
      color: $color-red;
    }
  }
  &__box-icon {
    &__icon {
      width: 5rem;
      height: 5rem;
      transition: all 0.2s;
      cursor: pointer;
      &:first-child {
        fill: gray;
      }
      &:hover {
        fill: $color-red;
      }
    }
  }
}
