.box-1 {
  display: grid !important;
  grid-column: 1 / 2 !important;
  justify-self: flex-end !important ;
  margin-left: 5rem !important;
  @include res(tab-big) {
    margin: 0 !important;
    justify-self: center;
  }
}
.box-2 {
  display: grid !important;
  grid-column: 2 / 3 !important;
  justify-self: center !important;
  @include res(tab-big) {
    margin: 0 !important;
    // justify-self: center;
  }
}
.box-3 {
  display: grid !important;
  grid-column: 3 / 4 !important;
  justify-self: flex-start !important;
  margin-right: 2rem !important;
  @include res(tab-big) {
    margin: 0 !important;
    justify-self: center !important;
  }
}
